/* page  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* header */
.header {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* responsive design */
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
  }
}

.logotype {
  height: 18px;
}

.social-icons {
  display: flex;
  list-style: none;
  padding-top: 10px;
}

/* responsive design */
@media all and (min-width: 768px) {
  .social-icons {
    padding-top: 0;
  }
}

.social-eachIcon {
  padding: 3px;
}

.social-icons-link {
  color: orange;
}

/* wrapper */
.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* responsive design */
@media all and (min-width: 768px) {
  .wrapper {
    padding: 20px 120px;
  }
}

@media all and (min-width: 1200px) {
  .wrapper {
    padding: 0 180px;
    flex-direction: row;
  }
}

.wrapper-text {
  display: flex;
  flex-direction: column;
}

.wrapper-book {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.ebook {
  display: none;
}

/* responsive design */
@media all and (min-width: 768px) {
  .ebook {
    display: flex;
    position: absolute;
    top: 166px;
    height: 300px;
    width: 300px;
  }
}

@media all and (min-width: 1200px) {
  .ebook {
    top: 174px;
  }
}

.wrapper-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper-title {
  border-bottom: 1px solid lightgray;
  padding: 20px 0;
  color: orange;
}

/* responsive design */
@media all and (min-width: 768px) {
  .wrapper-title {
    padding: 40px 280px 80px 0;
  }
}

.wrapper-subTitle {
  font-size: 16px;
  padding: 20px 0;
  color: gray;
}

/* responsive design */
@media all and (min-width: 768px) {
  .wrapper-subTitle {
    padding: 30px 280px 10px 0;
  }
}

.wrapper-paragraph {
  padding: 20px 0 20px 0;
}

/* responsive design */
@media all and (min-width: 768px) {
  .wrapper-paragraph {
    padding: 15px 0;
  }
}

.asterisk {
  text-decoration: none;
  color: orange;
}

.emphasizes {
  text-align: center;
  padding: 15px;
}

/* responsive design */
@media all and (min-width: 768px) {
  .emphasizes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
  }
}

.emphasizes-text {
  text-transform: uppercase;
}

/* aside */
.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: lightgrey;
  padding: 20px;
}

/* responsive design */
@media all and (min-width: 768px) {
  .aside {
    align-self: none;
  }
}

@media all and (min-width: 1200px) {
  .aside {
    align-self: flex-start;
    margin: 40px 0 0 40px;
  }
}

.aside-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
}

.aside-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

fieldset {
  border: 0;
}

.aside-title {
  font-size: 12px;
  text-transform: uppercase;
  color: orange;
  text-align: center;
  margin: 10px 0;
}

.aside-input {
  padding: 6px;
  margin: 5px 0;
}

.aside-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0;
  font-size: 11px;
}

.aside-input {
  margin-right: 3px;
}

.aside-privacy {
  text-decoration: none;
  color: orange;
}

.aside-button {
  padding: 10px;
  margin: 5px 0;
  background-color: orange;
  cursor: pointer;
}

/* footer */
.footer-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: grey;
  padding: 40px 100px;
}

/* responsive design */
@media all and (min-width: 768px) {
  .footer-frame {
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer-containerImg {
  display: flex;
  justify-content: center;
}
.footer-moreInfo {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding-top: 20px;
}

/* responsive design */
@media all and (min-width: 768px) {
  .footer-moreInfo {
    padding-top: 0px;
  }
}

.footer-privacyList {
  display: flex;
  list-style: none;
}

.footer-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  text-align: center;
}

.footer-eachPrivacy {
  padding: 0 10px;
  font-size: 12px;
}

.footer-copyRight {
  color: white;
  padding: 0 10px;
  font-size: 12px;
  text-align: center;
}

.borders {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

/* popup */
.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

.caption {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.close {
  color: white;
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
}
