/* page  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* header */
.header {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* responsive design */
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
  }
}

.logotype {
  height: 18px;
}

.social-icons {
  display: flex;
  list-style: none;
  padding-top: 10px;
}

/* responsive design */
@media all and (min-width: 768px) {
  .social-icons {
    padding-top: 0;
  }
}

.social-eachIcon {
  padding: 3px;
}

.social-icons-link {
  color: orange;
}
